<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Carro de la Compra</title>
</head>

<body>
    <header>
        <h1>Hit Games Cart</h1>
    </header>
    <main>
        <div class="row">
            <ul  class="hit-list">
                <li> <a href="">Home</a></li>
                <li> <a href="">Carrito</a></li>

            </ul>
        </div>
        <div class="row">
            <h1>TU CARRRO DE LA COMPRA</h1>
        </div>
        <div class="row">
            <table>
                <tr>
                    <td>
                        <a href="">
                            <img src="/img/Cyber.jfif" alt="Cyber">
                        </a>
                    </td>
                    <td>
                        <h5>Producto:</h5>
                        <div class="esp-1"></div>
                        <h2>Cyber Punck 2024</h2>

                    </td>

                    <td>
                        <h5>Precio:</h5>
                        <div class="esp-1"></div>

                        <strong>$ 50000</strong>
                    </td>
                    <td>
                        <h5>Cantidad:</h5>
                        <div class="esp-1"></div>

                        <strong>1</strong>

                    </td>
                    <td>
                        <h5>Total :</h5>
                        <div class="esp-1"></div>

                        <strong>$ 50000</strong>

                    </td>

                </tr>

                <tr>
                    <td>
                        <a href="">
                            <img src="/img/batlefied.jfif" alt="batlefied">
                        </a>
                    </td>
                    <td>
                        <h5>Product0:</h5>
                        <div class="esp-1"></div>

                        <h2>Batlefied 2024</h2>

                    </td>

                    <td>
                        <h5>Precio:</h5>
                        <div class="esp-1"></div>

                        <strong>$ 50000</strong>
                    </td>
                    <td>
                        <h5>Cantidad:</h5>
                        <div class="esp-1"></div>

                        <strong>1</strong>

                    </td>
                    <td>
                        <h5>Total :</h5>
                        <div class="esp-1"></div>

                        <strong>$ 50000</strong>

                    </td>

                </tr>
            </table>
        </div>
        <div class="row">
            <table>
                <tbody>
                    <tr>
                        <td>
                            Subtotal
                        </td>
                        <td>
                            $ 100000
                        </td>
                    </tr>
                    <tr>
                        <td>IVA </td>
                        <td> $20000</td>

                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>$ 120000</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="esp-1"></div>
        <div>
            <a href="views/store-chekout.html" class="hit-btn "> Finalizar Compra</a>
        </div>
        <div class="esp-1"></div>
    </main>
 
</body>

</html>