<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

           <title>Un Mundo de Juegos</title>
            
            <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
            <link rel="stylesheet" href="/css/index.css">

            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>   
            <script src="./js/index.js" type="text/javascript"></script>

</head>

 <body>
    <div id="loading">
        <div id="spinner">
        </div>
    </div>

    <div id="header" class="animated slideInDown" style="animation-delay:1.8s;">

    <header>
        <h1 > <img src="./images/logo.png" height="100%" width="10%" alt="logotipo del sitio" >HitGames</h1>

  
        <div id="links" class= "paginas">       
          <nav>
            <ul>
              <li><a href="./views/index.html">HOME</a></li>
              <li><a href="./views/Novedades.html">NOVEDADES</a></li>
              <li><a href="./views/login.html">LOGIN</a></li>
              <li><a target="_blank"  href="./views/productCart.html">CARRO</a></li>
              
            </ul>
          </nav>
        </div>

        <div class="input-wrapper">
          <input type="search" class="input" placeholder="Search">

          <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
          </svg> 
        </div>
    </header>

    <center>
        <div id="middle">
            <div id="tagline" class="animated zoomIn" style="animation-delay:1.8s;">
                Un Mundo de Juegos<br>
            </div>
        </div>
    </center>

    <div id="portfolio">

        <section class="NovidadesSection">
            <main class="mainDestacados">
                <h2></h2>

                <section class="containerProdutos">
                  <div class="produto">
                      <img src="./images/Assasins_Creed.jfif" alt="" class="produto__img">
                    <div class="productDescription">
                      <a class="produto__title" target="_blank" href="./productDetail.html">Assasin Creed</a>
                      <spam class="produto__price">$30000.00</spam>

                    </div>
                       <a target="_blank" class="btn_one" href="./views/productCart.html"><i class="Boton-Comprar"></i>Comprar</a>
                 
                  </div>

                  <div class="produto">
                      <img src="./images/God_Of_War.jfif" alt="" class="produto__img">
                    <div class="productDescription">
                      <a class="produto__title" target="_blank" href="./productDetail.html">Good of War</a>
                      <spam class="produto__price">$20000.00</spam>
                    </div>
                         <a target="_blank" class="btn_one" href="./views/productCart.html"><i class="Boton-Comprar"></i>Comprar</a>
                  </div>

                  <div class="produto">
                      <img src="./images/mortal_Kombat10.jfif" alt="" class="produto__img">
                    <div class="productDescription">
                      <a class="produto__title" target="_blank" href="./productDetail.html">Mortal Kombat 10</a>
                      <spam class="produto__price">$25000.00</spam>
                    </div>
                     <a target="_blank" class="btn_one" href="./views/productCart.html"><i class="Boton-Comprar"></i>Comprar</a>
                  </div>

                  <div class="produto">
                      <img src="./images/resident_Evil2.jfif" alt="" class="produto__img">
                   <div class="productDescription">
                    <a class="produto__title" target="_blank" href="./productDetail.html">Resident Evil</a>
                    <spam class="produto__price">$36000.00</spam>
                    </div>
                         <a target="_blank" class="btn_one" href="./views/productCart.html"><i class="Boton-Comprar"></i>Comprar</a>
                  </div>

                  <div class="produto">
                    <img src="./images/Tales_Arise.jfif" alt="" class="produto__img">
                  <div class="productDescription">
                    <a class="produto__title" target="_blank" href="./productDetail.html">Tales of Arise</a>
                    <spam class="produto__price">$29000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="./views/productCart.html"><i class="Boton-Comprar"></i>Comprar</a>
                </div>

                <div class="produto">
                    <img src="./images/Darksider.jfif" alt="" class="produto__img">
                  <div class="productDescription">
                    <a class="produto__title" target="_blank" href="./productDetail.html">Dark sider</a>
                    <spam class="produto__price">$34000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="./views/productCart.html"><i class="Boton-Comprar"></i>Comprar</a>
                </div>

                <div class="produto">
                    <img src="./images/batlefied.jfif" alt="" class="produto__img">
                  <div class="productDescription">
                    <a class="produto__title" target="_blank" href="./productDetail.html">Batlefied</a>
                    <spam class="produto__price">$35000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="./views/productCart.html"><i class="Boton-Comprar"></i>Comprar</a>
                </div>

                <div class="produto">
                    <img src="./images/Fortinite.jfif" alt="" class="produto__img">
                 <div class="productDescription">
                    <a class="produto__title" target="_blank" href="./productDetail.html">Fortnite</a>
                    <spam class="produto__price">$38000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="./views/productCart.html"><i class="Boton-Comprar"></i>Comprar</a>
                </div>

                <div class="produto">
                    <img src="./images/Cyber.jfif" alt="" class="produto__img">
                 <div class="productDescription">
                    <a class="produto__title" target="_blank" href="./productDetail.html">Ciber punk</a>
                    <spam class="produto__price">$38000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="./views/productCart.html"><i class="Boton-Comprar"></i>Comprar</a>
                </div>
                <div class="produto">
                    <img src="./images/Hitman.jfif" alt="" class="produto__img">
                 <div class="productDescription">
                    <a class="produto__title" target="_blank" href="./productDetail.html">Hitman</a>
                    <spam class="produto__price">$38000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="./views/productCart.html"><i class="Boton-Comprar"></i>Comprar</a>
                </div>

                <div class="produto">
                    <img src="./images/Sonic_Frontiers.jfif" alt="" class="produto__img">
                 <div class="productDescription">
                    <a class="produto__title" target="_blank" href="./productDetail.html">Sonic</a>
                    <spam class="produto__price">$38000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="./views/productCart.html"><i class="Boton-Comprar"></i>Comprar</a>
                </div>

                <div class="produto">
                    <img src="./images/Call_of_Duty.jfif" alt="" class="produto__img">
                 <div class="productDescription">
                    <a class="produto__title" target="_blank" href="./productDetail.html">Call of Duty</a>
                    <spam class="produto__price">$38000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="./views/productCart.html"><i class="Boton-Comprar"></i>Comprar</a>
                </div>                                


                </section>
              </main>
         </section>

    <div id="footer">
        Desarrollado por Hector Fernando Calisaya <br><br> 
    </div>
    </body>
</html>