	
<!DOCTYPE html >

<html lang="en">
<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	     
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		  
        <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
		<!--javascript-->
		<script type="text/javascript" src="./js/register.js"></script>
		
		<!-- css-->
		<link type="text/css" href="./css/register.css" rel="stylesheet" media="screen"/>
		   <title>HitGames-Registro</title>
</head>
	<body>

					<!--Datos personales-->				
					<div id="divDatos" class="divsNo">                       
								<div id="divDatosPersonales0">
									
                                    <h2>Registrate</h2>
									<label>Nombre completo:</label>
									<input type="text" id="nombre" value="" size="26" /><br/>
									
									<label>Contraseña:</label>
									<input type="text" id="pasword" value="" size="9" /><br/>

									<label>DNI:</label>
									<input type="text" id="dni" value="" size="8" maxlength="9" /><br/>
									
									
									<label>Fecha de nacimiento:</label>
									<select id="fechaNacimientoDia">
										<option value="">&nbsp;dia&nbsp;</option>
									</select>
									<select id="fechaNacimientoMes">
										<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mes</option>
										<option value="1">Enero</option>
										<option value="2">Febrero</option>
										<option value="3">Marzo</option>
										<option value="4">Abril</option>
										<option value="5">Mayo</option>
										<option value="6">Junio</option>
										<option value="7">Julio</option>
										<option value="8">Agosto</option>
										<option value="9">Septiembre</option>
										<option value="10">Octubre</option>
										<option value="11">Noviembre</option>
										<option value="12">Diciembre</option>
									</select>			
									<select id="fechaNacimientoAnio">
										<option value="">&nbsp;&nbsp;año&nbsp;</option>
									</select><br/>

									<!------------ -->
									<label>Telefono movil:</label>
									<input type="text" id="movil" value="" size="8" maxlength="9"/><br/>

									<label>Email:</label>
									<input type="text" id="email1" value="" size="25" /><br/>
									
									<label>Repita el email:</label>
									<input type="text" id="email2" value="" size="25" /><br/>
			                        <!------------ -->
							
									<label>Localidad:</label>
									<input type="text" id="localidad" value="" size="13"/>&nbsp;&nbsp;<br/>
									
									<label>Codigo Postal:</label>
									<input type="text" id="codigoPostal" value="" size="5" maxlength="5"/>&nbsp;&nbsp;<br/>
									
									<label>Provincia:</label>
									<select id="provincia">
										<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;provincia</option>
										
										<option value="1">Buenos Aires</option>
										<option value="2">Ciudad Autónoma de Buenos Aires</option>
										<option value="3">Catamarca</option>
										<option value="4">Chaco</option>
										<option value="5">Cordoba</option>
										<option value="6">Corrientes</option>
										<option value="7">Entre Rios</option>
										<option value="8">Formosa</option>
										<option value="9">Jujuy</option>
										<option value="10">La Pampa</option>
										<option value="11">La Rioja</option>
										<option value="12">Mendoza</option>
										<option value="13">Misiones</option>
										<option value="14">Neuquen</option>
										<option value="15">Rio Negro</option>
										<option value="16">Salta</option>
										<option value="17">San Luis</option>
										<option value="18">San Juan</option>
										<option value="19">Santa Cruz</option>
										<option value="20">Santa Fe</option>
										<option value="21">Santiago del Estero</option>
										<option value="22">Tierra del Fuego</option>
										<option value="23">Tucuman</option>
										
									</select>
		                            <div id="but_aceptar">           
								         <a target="_blank" class="btn_one" href="./views/productCart.html"><i></i>ACEPTAR</a>
							        </div></br>
							    </div>
								</br>

			        </div>
			

		
	</body>
	
	<footer>
				<p class="pie">Made by Legasy <a href="" target="_black">Hector Fernando</a></p>
	</footer>
	</html>					