body{
    position: relative;
    color: #7f8b92;
    background-color: #171e22;

}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    width: 45%;
}


.esp-1
{
    display: block;
    height: 15px;
    padding: 0 9em;
}
.hit-list {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    list-style-type: none;
}
.hit-list > li {
    display: inline-block;
    font-size: 1.07rem;
}


h1,
h2,
h3,
h4,
h5,

.h1,
.h2,
.h3,
.h4,
.h5
{
    margin-bottom: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}


a {
    color: #dd163b;
    -webkit-transition: .15s color;
    -o-transition: .15s color;
    transition: .15s color;
    
}

a:focus,
a:hover {
    color: #dd163b;
}


.hit-btn {
    display: inline-block;
    padding: 9px 19px;
    font-family: "Montserrat", sans-serif;
    font-size: .87rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
 
}

