<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/index.js"></script>
    <title>HitGames-Home </title>

</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>

    <div id="loading">
        <div id="spinner">
        </div>
    </div>

    <div id="header" class="animated slideInDown" style="animation-delay:1.8s;">



    <center>
        <div id="middle">
            <div id="tagline" class="animated zoomIn" style="animation-delay:1.8s;">
                Un Mundo de Juegos<br>
            </div>
        </div>
    </center>

    <div id="portfolio">

        <section class="NovidadesSection">
            <main class="mainDestacados">
                <h2></h2>

                <section class="containerProdutos">
                  <div class="produto">
                      <img src="./images/Assasins_Creed.jfif" alt="" class="produto__img">
                    <div class="productDescription">
                      <a class="produto__title" target="_blank" href="/productDetail">Assasin Creed</a>
                      <spam class="produto__price">$30000.00</spam>

                    </div>
                       <a target="_blank" class="btn_one" href="/productCart"><i class="Boton-Comprar"></i>Comprar</a>
                 
                  </div>

                  <div class="produto">
                      <img src="./images/God_Of_War.jfif" alt="" class="produto__img">
                    <div class="productDescription">
                      <a class="produto__title" target="_blank" href="/productDetail">Good of War</a>
                      <spam class="produto__price">$20000.00</spam>
                    </div>
                         <a target="_blank" class="btn_one" href="/productCart"><i class="Boton-Comprar"></i>Comprar</a>
                  </div>

                  <div class="produto">
                      <img src="./images/mortal_Kombat10.jfif" alt="" class="produto__img">
                    <div class="productDescription">
                      <a class="produto__title" target="_blank" href="/productDetail">Mortal Kombat 10</a>
                      <spam class="produto__price">$25000.00</spam>
                    </div>
                     <a target="_blank" class="btn_one" href="/productCart"><i class="Boton-Comprar"></i>Comprar</a>
                  </div>

                  <div class="produto">
                      <img src="./images/resident_Evil2.jfif" alt="" class="produto__img">
                   <div class="productDescription">
                    <a class="produto__title" target="_blank" href="/productDetail">Resident Evil</a>
                    <spam class="produto__price">$36000.00</spam>
                    </div>
                         <a target="_blank" class="btn_one" href="/productCart"><i class="Boton-Comprar"></i>Comprar</a>
                  </div>

                  <div class="produto">
                    <img src="./images/Tales_Arise.jfif" alt="" class="produto__img">
                  <div class="productDescription">
                    <a class="produto__title" target="_blank" href="/productDetail">Tales of Arise</a>
                    <spam class="produto__price">$29000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="/productCart"><i class="Boton-Comprar"></i>Comprar</a>
                </div>

                <div class="produto">
                    <img src="./images/Darksider.jfif" alt="" class="produto__img">
                  <div class="productDescription">
                    <a class="produto__title" target="_blank" href="/productDetail">Dark sider</a>
                    <spam class="produto__price">$34000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="/productCart"><i class="Boton-Comprar"></i>Comprar</a>
                </div>

                <div class="produto">
                    <img src="./images/batlefied.jfif" alt="" class="produto__img">
                  <div class="productDescription">
                    <a class="produto__title" target="_blank" href="/productDetail">Batlefied</a>
                    <spam class="produto__price">$35000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="/productCart"><i class="Boton-Comprar"></i>Comprar</a>
                </div>

                <div class="produto">
                    <img src="./images/Fortinite.jfif" alt="" class="produto__img">
                 <div class="productDescription">
                    <a class="produto__title" target="_blank" href="/productDetail.ejs">Fortnite</a>
                    <spam class="produto__price">$38000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="/productCart.ejs"><i class="Boton-Comprar"></i>Comprar</a>
                </div>

                <div class="produto">
                    <img src="./images/Cyber.jfif" alt="" class="produto__img">
                 <div class="productDescription">
                    <a class="produto__title" target="_blank" href="/productDetail">Ciber punk</a>
                    <spam class="produto__price">$38000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="/productCart"><i class="Boton-Comprar"></i>Comprar</a>
                </div>
                <div class="produto">
                    <img src="./images/Hitman.jfif" alt="" class="produto__img">
                 <div class="productDescription">
                    <a class="produto__title" target="_blank" href="/productDetail">Hitman</a>
                    <spam class="produto__price">$38000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="/productCart"><i class="Boton-Comprar"></i>Comprar</a>
                </div>

                <div class="produto">
                    <img src="./images/Sonic_Frontiers.jfif" alt="" class="produto__img">
                 <div class="productDescription">
                    <a class="produto__title" target="_blank" href="/productDetail">Sonic</a>
                    <spam class="produto__price">$38000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="/productCart"><i class="Boton-Comprar"></i>Comprar</a>
                </div>

                <div class="produto">
                    <img src="./images/Call_of_Duty.jfif" alt="" class="produto__img">
                 <div class="productDescription">
                    <a class="produto__title" target="_blank" href="/productDetail">Call of Duty</a>
                    <spam class="produto__price">$38000.00</spam>
                  </div>
                       <a target="_blank" class="btn_one" href="/productCart"><i class="Boton-Comprar"></i>Comprar</a>
                </div>                                


                </section>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>